<div class='trump__article'>
    <div class='gs-container'>
        <div class='trump__body'>
            <h2 class='trump__byline'>By David Smith and Sam Morris</h2>
            {{#each Body}}
                <div class='trump__section trump__section--{{ section }}'>
                    {{#if_not_eq section 'intro'}}
                        <h2 class='trump__divider'>{{ section }}</h2>
                    {{/if_not_eq}}

                    {{{ copy }}}
                </div>
            {{/each}}
        </div>
    </div>
</div>