<div class='trump__article'>
    <div class='gs-container'>
        <div class='trump__body'>
            <h2 class='trump__byline'>By David Smith and Sam Morris</h2>
            {{#each Body}}

                <div class='trump__section trump__section--{{ handle }}'>
                    {{#if_not_eq section 'intro'}}
                        <h2 class='trump__divider'>{{ section }}</h2>
                    {{/if_not_eq}}

                    {{{ copy }}}
                </div>

                    {{#if_eq section 'Greatest achievements'}}
        </div>
    </div>

    {{> templates/partials/graphic ../Graphics }}

    <div class='gs-container'>
        <div class='trump__body'>
                    {{/if_eq}}

            {{/each}}
        </div>
    </div>
</div>