<div class='trump-graphic trump-graphic--best-achievements'>
    <div class='trump-graphic__header'>
        <div class='gs-container'>
            {{#each Graphics}}
                <div class='trump-graphic__labels trump-graphic__labels--{{ handle }}'>
                    <h2 class='trump-graphic__title'>{{ title }}</h2>
                    <img class='trump-graphic__cutout' src='@@assetPath@@/assets/images/{{ handle }}.png' />
                </div>
            {{/each}}
        </div>
    </div>

    <div class='trump-graphic__data'>
        <div class='gs-container'>
            {{#each Graphics}}
                <div class='trump-graphic__graphic trump-graphic__graphic--{{ handle }}'>
                    {{#if_eq handle 'best-achievements'}}
                        {{> templates/partials/timeline ../GreatestAchievements }}
                    {{/if_eq}}

                    {{#if_eq handle 'worst-failures'}}
                        {{> templates/partials/timeline ../WorstFailures }}
                    {{/if_eq}}

                    {{#if_eq handle 'tone'}}
                        {{> templates/partials/tone ../Tone }}
                    {{/if_eq}}

                    {{#if_eq handle 'legislative-agenda'}}
                        {{> templates/partials/legislative ../LegislativeAgenda }}
                    {{/if_eq}}

                    {{#if_eq handle 'competence'}}
                        {{> templates/partials/competence ../Competence }}
                    {{/if_eq}}

                    {{#if_eq handle 'conflict-of-interests'}}
                        {{> templates/partials/timeline ../ConflictOfInterests }}
                    {{/if_eq}}

                    {{#if_eq handle 'global-player'}}
                        {{> templates/partials/global-player ../FacingTheWorld }}
                    {{/if_eq}}

                    {{#if_eq handle 'the-russia-question'}}
                        {{> templates/partials/timeline ../TheRussiaQuestion }}
                    {{/if_eq}}

                    {{#if_eq handle 'team-trump'}}
                        {{> templates/partials/timeline ../TeamTrump }}
                    {{/if_eq}}
                </div>
            {{/each}}
            <div class='trump-graphic__dateline'>
                {{#times 101}}
                    <div class='trump-graphic__date trump-graphic__date--{{ this }}'></div>
                {{/times}}
            </div>
        </div>
    </div>
</div>