<div class='trump-header'>
    <div class='gs-container'>
        <div class='trump-header__content'>
            <h1 class='trump-header__headline'>
                <span>The something,</span>
                <span>the something,</span>
                <span>and the tweets</span>
            </h1>
            <p class='trump-header__standfirst'>What we've learnt from the first 100 days of President Trump</p>
        </div>
        <img class='trump-header__logo' src='@@assetPath@@/assets/images/logo.svg' />
        <div class='trump-header__share-panel'>
            <a class='trump-header__share-link trump-header__share-link--facebook' href='LINK'>
                {{> templates/icons/facebook }}
            </a>
            <a class='trump-header__share-link trump-header__share-link--twitter' href='LINK'>
                {{> templates/icons/twitter }}
            </a>
            <a class='trump-header__share-link trump-header__share-link--email' href='LINK'>
                {{> templates/icons/email }}
            </a>
        </div>
    </div>
</div>