<div class='trump-header'>
    <div class='gs-container'>
        <p class='trump-header__standfirst'>Tracking the 45th president of the United States, one day at a time <span class='hidden'>The first 100 days of trump</span></p>
        <img class='trump-header__logo' src='@@assetPath@@/assets/images/logo.svg' />
        <div class='trump-header__share-panel'>
            <a class='trump-header__share-link trump-header__share-link--facebook' href='LINK'>
                {{> templates/icons/facebook }}
            </a>
            <a class='trump-header__share-link trump-header__share-link--twitter' href='LINK'>
                {{> templates/icons/twitter }}
            </a>
            <a class='trump-header__share-link trump-header__share-link--email' href='LINK'>
                {{> templates/icons/email }}
            </a>
        </div>
    </div>
</div>