.trump-global {
    position: relative;
}

.trump-global__visit {
    position: absolute;
    top: -10px;

    &:after {
        content: '';
        position: absolute;
        z-index: 2;
        height: 134px;
        width: 1px;
        background-color: $c-black;
    }
}

@for $i from 0 through 100 {
    .trump-global__visit--#{$i} {
        left: ($i * 1%);
    }
}

.trump-global__text {
    transform: rotate(-90deg) translateX(-167px);
    transform-origin: left top;
    font-size: 14px;
    line-height: 1.45;
    margin-left: -20px;
    font-family: 'Guardian Sans Web';
    color: #333333;
    width: 140px;
    position: relative;
    z-index: 2;
    background-color: $c-off-white;

    span {
        position: relative;
        z-index: 1;
        display: block;
        color: $c-dark-grey;
    }
}

.trump-global__flag {
    position: absolute;
    z-index: 3;
    top: 42px;
}