.trump-graphic.is-sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    z-index: 10;
}

.trump-graphic__data,
.trump-graphic__header {
    .gs-container {
        height: 100%;
        box-sizing: border-box;
        padding: 0 10px;

        @include mq(mobileLandscape) {
            padding: 0 20px;
        }
    }
}

.trump-graphic__header {
    position: relative;
    background-color: $c-blue;
    color: $c-white;
    margin-top: 24px;
}

.trump-graphic__title {
    font-size: 24px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    padding-bottom: 36px;
}

.trump-graphic__cutout {
    position: absolute;
    right: 10px;
    bottom: 0;

    @include mq(mobileLandscape) {
        right: 20px;
    }

    @include mq(desktop) {
        right: 120px;
    }
}

.trump-graphic__data {
    background-color: $c-off-white;
    color: $c-grey;
    height: 300px;
    padding-bottom: 6px;
}

.trump-graphic__dateline {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 24px;
    border-top: 1px solid $c-light-grey;
    display: flex;
    justify-content: space-between;

    @include mq(mobileLandscape) {
        left: 20px;
        right: 20px;
    }
}

.trump-graphic__date {
    position: relative;
    width: 1px;
    height: 10px;
    background-color: $c-light-grey;
    margin-right: -1px;

    &:after {
        position: absolute;
        left: 0;
        bottom: -14px;
        border-left: 1px solid $c-light-grey;
        padding-left: 3px;
        height: 14px;
        font-family: 'Guardian Sans Web';
        font-size: 14px;
        line-height: 20px;
        color: $c-dark-grey;
        white-space: nowrap;
    }
}

.trump-graphic__date--0:after {
    content: '20th January Day 1';
}

.trump-graphic__date--12:after {
    content: 'February';
}

.trump-graphic__date--40:after {
    content: 'March';
}

.trump-graphic__date--71:after {
    content: 'April';
}

.trump-graphic__date--99:after {
    content: '29th April Day 100';
    left: auto;
    right: 0;
    border-left: none;
    border-right: 1px solid $c-light-grey;
    padding-right: 3px;
}

$graphics: 'greatest-achievements', 'worst-failures', 'tone', 'legislative-agenda', 'competence', 'facing-the-world', 'conflicts-of-interest', 'the-russia-question', 'team-trump';

.trump-graphic__labels,
.trump-graphic__graphic {
    display: none;
}

@each $graphic in $graphics {
    .trump-graphic--#{$graphic} {
        .trump-graphic__labels--#{$graphic},
        .trump-graphic__graphic--#{$graphic} {
            display: block;
        }
    }
}

// overrides
.trump-graphic--intro {
    .trump-graphic__labels--greatest-achievements,
    .trump-graphic__graphic--greatest-achievements {
        display: block;
    }
}
