.trump-graphic {
    position: static;
    transform: translate3d(0px,0px,0px);
}

.trump-graphic.is-sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    z-index: 10;
}

.trump-graphic.is-done {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.trump-graphic__data,
.trump-graphic__header {
    .gs-container {
        height: 100%;
        box-sizing: border-box;
        padding: 0 10px;

        @include mq(mobileLandscape) {
            padding: 0 20px;
        }
    }
}

.trump-graphic__header {
    position: relative;
    background-color: $c-blue;
    color: $c-white;
    margin-top: 24px;
    margin-bottom: 0;
    height: 84px;
}

.trump-graphic__title {
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Guardian Egyptian Web';
    font-weight: 800;
    margin: 0;
    padding-top: 4px;
}

.trump-graphic__number {
    font-size: 32px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 800;
    line-height: 1;
    margin: 0;

    @include mq(tablet) {
        font-size: 48px;
    }

    sub {
        bottom: 0;
        font-size: 24px;
        margin-left: -4px;
    }
}

.trump-graphic__scroll {
    background-color: $c-black;
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    color: $c-white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px 10px;

    @include mq(mobileLandscape) {
        padding: 3px 20px;
    }

    @include mq(desktop) {
        display: none;
    }

    &.has-scrolled {
        display: none;
    }
}

.trump-graphic__cutout {
    position: absolute;
    right: 10px;
    bottom: 0;
    display: none;

    @include mq(phablet) {
        right: 20px;
        display: block;
    }

    @include mq(desktop) {
        right: 120px;
    }
}

.trump-graphic__data {
    background-color: $c-off-white;
    color: $c-grey;
    height: 200px;
    padding-bottom: 6px;

    @include mq($until: desktop) {
        .gs-container {
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            overflow-y: hidden;
        }

        .trump-graphic__wrapper {
            min-width: 1300px;
            position: relative;
            height: 200px;
        }
    }
}

.trump-graphic__dateline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 38px;
    background-color: $c-off-white;
    border-top: 1px solid $c-light-grey;
    display: flex;
    justify-content: space-between;

    @include mq(desktop) {
        left: 20px;
        right: 20px;
    }
}

.trump-graphic__date {
    position: relative;
    top: 0;
    width: 1px;
    height: 10px;
    background-color: $c-light-grey;
    margin-right: -1px;

    &:after {
        position: absolute;
        left: 0;
        bottom: -14px;
        border-left: 1px solid $c-light-grey;
        padding-left: 3px;
        height: 14px;
        font-family: 'Guardian Sans Web';
        font-size: 14px;
        line-height: 20px;
        color: $c-dark-grey;
        white-space: nowrap;
    }
}

.trump-graphic__date--0:after {
    content: 'Day 1';
}

.trump-graphic__date--12:after {
    content: 'February';
}

.trump-graphic__date--40:after {
    content: 'March';
}

.trump-graphic__date--71:after {
    content: 'April';
}

.trump-graphic__date--100:after {
    content: 'Day 100';
    left: auto;
    right: 0;
    border-left: none;
    border-right: 1px solid $c-light-grey;
    padding-right: 3px;
}

$graphics: 'best-achievements', 'worst-failures', 'tone', 'legislative-agenda', 'competence', 'global-player', 'conflicts-of-interest', 'the-russia-question', 'team-trump';

.trump-graphic__labels,
.trump-graphic__graphic {
    display: none;
}

@each $graphic in $graphics {
    .trump-graphic--#{$graphic} {
        .trump-graphic__labels--#{$graphic},
        .trump-graphic__graphic--#{$graphic} {
            display: block;
        }
    }
}

// overrides
.trump-graphic--intro,
.trump-graphic--undefined {
    .trump-graphic__labels--best-achievements,
    .trump-graphic__graphic--best-achievements {
        display: block;
    }
}

.trump-graphic--the-next-100-days- {
    .trump-graphic__labels--conflicts-of-interest,
    .trump-graphic__graphic--conflicts-of-interest {
        display: block;
    }
}

.trump-legend {
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 1.2;
    color: $c-black;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 12px;
    overflow: auto;
}

.trump-key {
    position: relative;
    float: left;
    margin-right: 15px;
    padding-left: 16px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        width: 12px;
        height: 12px;
        background-color: $c-grey;
        border-radius: 6px;
    }
}
