.trump-header {
    background-color: darken($c-blue, 10%);

    .gs-container {
        background-image: url('@@assetPath@@/assets/images/trump.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px 10px;
        box-sizing: border-box;
        height: 400px;

        @include mq(mobileLandscape) {
            padding: 10px 20px;
            height: 300px;
        }

        @include mq(tablet) {
            height: 440px;
        }

        @include mq(desktop) {
            height: 560px;
        }
    }
}

.trump-header__content {
    position: absolute;
    bottom: 12px;
    left: 10px;

    @include mq(mobileLandscape) {
        left: 20px;
    }
}

.trump-header__headline {
    font-size: 32px;
    line-height: 1.1;
    font-family: 'Guardian Egyptian Web';
    color: $c-white;
    font-family: 800;
    margin: 0;

    @include mq(tablet) {
        font-size: 60px;
        line-height: .9;
    }

    span {
        display: block;
    }

    span:nth-of-type(1) {
        margin-left: 20px;
    }

    span:nth-of-type(2) {
        margin-left: 60px;
    }

    @include mq(tablet) {
        span:nth-of-type(1) {
            margin-left: 80px;
        }

        span:nth-of-type(2) {
            margin-left: 240px;
        }

        span:nth-of-type(3) {
            margin-left: 120px;
        }
    }
}

.trump-header__standfirst {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 800;
    color: $c-light-blue;
    margin: 0;
    margin-left: 20px;

    @include mq(tablet) {
        margin-left: 80px;
    }
}

.trump-header__logo {
    position: absolute;
    top: 12px;
    right: 10px;
    max-width: 300px;

    @include mq(mobileLandscape) {
        right: 20px;
    }
}

.trump-header__share-panel {
    position: absolute;
    left: 10px;
    bottom: 12px;
    display: none;

    @include mq(mobileLandscape) {
        left: 20px;
        display: block;
        top: 20px;
    }

    @include mq(desktop) {
        left: auto;
        top: auto;
        right: 20px;
    }
}

.trump-header__share-link {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: $c-dark-grey;
    border-radius: 16px;
    display: block;
    float: left;
    margin-right: 7px;

    &:hover {
        background-color: darken($c-dark-grey, 10%);
    }

    svg {
        position: absolute;
        margin: auto;
        width: 100%;
        height: 100%;
        fill: $c-white;
    }
}

.trump-header__share-link--facebook {
    background-color: $c-facebook;

    &:hover {
        background-color: darken($c-facebook, 10%);
    }
}

.trump-header__share-link--twitter {
    background-color: $c-twitter;

    &:hover {
        background-color: darken($c-twitter, 10%);
    }
}
