.trump-timeline {
    position: relative;
}

.trump-timeline__entry {
    position: absolute;
    top: 12px;
    max-width: 300px;
    padding-left: 70px;
    margin-left: -32px;

    &:nth-of-type(even) {
        top: 84px;
    }
}

@for $i from 0 through 100 {
    .trump-timeline__entry--#{$i} {
        left: ($i * 1%);
    }
}


.trump-timeline__entry--flip {
    padding-left: 0;
    padding-right: 70px;
    margin-left: -318px;
    max-width: 280px;

    .trump-timeline__image {
        left: auto;
        right: 0;
    }
}

.trump-timeline__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: $c-light-grey;
    background-position: center center;
    background-size: cover;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -86px;
        width: 1px;
        background-color: $c-red;
        height: 86px;
    }

    .trump-timeline__entry:nth-of-type(even) &:after {
        height: 20px;
        bottom: -20px;
    }
}

.trump-timeline__title {
    position: relative;
    z-index: 3;
    font-family: 'Guardian Egyptian Web';
    font-weight: 800;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
    color: $c-red;
    background-color: $c-off-white;
}

.trump-timeline__description {
    position: relative;
    z-index: 3;
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 1.2;
    color: $c-black;
    background-color: $c-off-white;
}
